body {
    padding: 0 25% 0 20%;
}

.SingleBook{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-top: 50px;
}

.SingleBookA{
    font-size: 28px;
    color: black;
    width: 30%;
}

.SingleBookSpan {
    font-size: 28px;
}
