
body {
    font-family: 'Manrope', sans-serif;
    display: inline;
    background-color:#ffffff;
}

.container{
    width:100%;
    height: 100%;
}

.MainTitle {
    text-decoration: none;
    outline: none;
    font-size: 36px;
    color: #6251DD;
}


